In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("Desktop\Data-Pre-Processing-for-ML-master\housing.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
#pd.plotting.scatter_matrix(data)

In [4]:
X = data.iloc[:,[0,1,2,3,4,5,6,7,9]].values
y = data.iloc[:,8].values

In [5]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
from sklearn.preprocessing import Imputer
im=Imputer(missing_values="NaN",strategy="median")
X[:,[4]]=im.fit_transform(X[:,[4]])

In [7]:
from sklearn.preprocessing import LabelEncoder
lib=LabelEncoder()
X[:,8]=lib.fit_transform(X[:,8])

In [8]:
from sklearn.preprocessing import OneHotEncoder
one =OneHotEncoder(categorical_features=[8])
X=one.fit_transform(X)
X = X.toarray()

In [9]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(X,y)
y_pred=linreg.predict(X)
linreg.score(X,y)

0.6454530166046623

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X = sc.fit_transform(X)

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [12]:
from sklearn.linear_model import LinearRegression
lin=LinearRegression()
lin.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
ypred=lin.predict(X_test)

In [14]:
lin.score(X_test,y_test)

0.6541405398415414

In [15]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2)
X_poly=poly.fit_transform(X_test)

In [16]:
lin2 = LinearRegression()
lin2.fit(X_poly, y_test)
Xpoly=lin2.predict(X_poly)

In [17]:
lin2.score(X_poly, y_test)

0.7357840279798427